<a href="https://colab.research.google.com/github/ShakilM26/time-series-tutorial/blob/main/company_time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('company.csv')
df

    Apple_sales  Apple_profit  Google_sales  Google_profit
0            10           400             8            320
1            18           650            11            420
2            15           500            15            550
3            14           359            12            411
4            15           540            15            400
5            10           510             9            359
6            28          1000            20            710
7            20          1000            20           1100
8            18           680            20            920
9            35          4000            25           2500
10           30          3500            30           2900
11           29          2400            30           4000
12           45          8000            40           6500
13           20          2000            21           1800
14           30          4000            25           2300
15           50         10000            48           9500

In [9]:
dates = pd.date_range(start='10/04/2022', end='10/25/2022', freq='B')
dates

DatetimeIndex(['2022-10-04', '2022-10-05', '2022-10-06', '2022-10-07',
               '2022-10-10', '2022-10-11', '2022-10-12', '2022-10-13',
               '2022-10-14', '2022-10-17', '2022-10-18', '2022-10-19',
               '2022-10-20', '2022-10-21', '2022-10-24', '2022-10-25'],
              dtype='datetime64[ns]', freq='B')

In [10]:
df.set_index(dates, inplace=True)
df

            Apple_sales  Apple_profit  Google_sales  Google_profit
2022-10-04           10           400             8            320
2022-10-05           18           650            11            420
2022-10-06           15           500            15            550
2022-10-07           14           359            12            411
2022-10-10           15           540            15            400
2022-10-11           10           510             9            359
2022-10-12           28          1000            20            710
2022-10-13           20          1000            20           1100
2022-10-14           18           680            20            920
2022-10-17           35          4000            25           2500
2022-10-18           30          3500            30           2900
2022-10-19           29          2400            30           4000
2022-10-20           45          8000            40           6500
2022-10-21           20          2000            21           1800
2022-10-24           30          4000            25           2300
2022-10-25           50         10000            48           9500

In [11]:
# Find mean 
# target ---> september 10 to september 20

df['2022-10-10':'2022-10-20'].Google_profit.mean()

2154.3333333333335

**Using Shift method we can change values back and forward in time**

In [12]:

df['Google_sales(Shifted)'] = df['Google_sales'].shift(1)

In [13]:
df['Google_sales(difference)'] = df['Google_sales'] - df['Google_sales(Shifted)']
df

,Apple_sales,Apple_profit,Google_sales,Google_profit,Google_sales(Shifted),Google_sales(difference)
2022-10-04,10,400,8,320,NaN,NaN
2022-10-05,18,650,11,420,8.0,3.0
2022-10-06,15,500,15,550,11.0,4.0
2022-10-07,14,359,12,411,15.0,-3.0
2022-10-10,15,540,15,400,12.0,3.0
2022-10-11,10,510,9,359,15.0,-6.0
2022-10-12,28,1000,20,710,9.0,11.0
2022-10-13,20,1000,20,1100,20.0,0.0
2022-10-14,18,680,20,920,20.0,0.0
2022-10-17,35,4000,25,2500,20.0,5.0
2022-10-18,30,3500,30,2900,25.0,5.0
2022-10-19,29,2400,30,4000,30.0,0.0
2022-10-20,45,8000,40,6500,30.0,10.0
2022-10-21,20,2000,21,1800,40.0,-19.0
2022-10-24,30,4000,25,2300,21.0,4.0
2022-10-25,50,10000,48,9500,25.0,23.0